/* Profile.css */

.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profileContainer div {
  margin-bottom: 20px;
}

.profileContainer a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}

.profileContainer h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.profileContainer p {
  margin: 0;
  font-size: 16px;
}

/* Edit Profile Button */
.profileContainer a.btn-edit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.profileContainer a.btn-edit:hover {
  background-color: #0056b3;
}

/* My Orders and Change Password Links */
.profileContainer a.btn-link {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.profileContainer a.btn-link:hover {
  background-color: #e0e0e0;
}